@page
@model GadevangTennisklub2025.Pages.About.ConditionsModel
@{
}
<style>
    .background-wrapper {
        background-image: url('/Images/Baggrund.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        min-height: 100vh;
        padding: 2rem;
    }

    .banner-img {
        width: 100%;
        height: auto;
        display: block;
        margin-bottom: 1rem;
    }

    .white-box {
        background-color: rgba(255, 255, 255, 0.95);
        padding: 2rem;
        border-radius: 12px;
        max-width: 900px;
        margin: 0 auto;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }
</style>

<div class="background-wrapper">
    <img src="/Images/GadevangTennisBanner.png" class="banner-img" alt="Gadevang Tennis Banner" />

    <div class="white-box">
        <h5>Generelle oplysninger om klubben:</h5>

        <p>
            Klubbens juridiske navn: GADEVANG TENNISKLUB <br />
            <br />
            Selskabsform: Forening  <br />
            <br />
            CVR-nummer: 77531513  <br />
        </p>



        <h5>Adresse:</h5>
        <p>
            GADEVANG TENNISKLUB  <br />
            <br />
            Gadevangsvej 145 B  <br />
            3400 Hillerød  <br />
            info@gadevangtennisklub.dk  <br />

        </p>

        <br />
        <h5>Kontaktoplysninger:</h5>
        <p>
            Officiel e-mail adresse: mailto:formand@gadevangtennisklub.dk  <br />
            <br />
            Officiel web-adresse: http://www.gadevangtennisklub.dk/  <br />
        </p>
        <h5>PRISER</h5>
        <p>
            Alle priserne på www.gadevangtennisklub.dk er ikke tillagt moms, da vi er en forening.  <br />
            <br />

            Når du via dit dankort køber et af følgende produkter:  <br />
            <br />
            - Tilmelding til hold(eller flere hold)  <br />
            - Venteliste  <br />
            - Passivt medlem  <br />
            <br />
            Sker det som en forud betaling for den periode der er angivet ved købet.  <br />
            <br />
            www.GADEVANG TENNISKLUB. kan opkræve et gebyr på 1,45 kr. pr. transaktion + 0,10 % ved køb over 100.- og 0,70 kr.  pr.transaktion for 50.- og under.  <br />
            <br />
            Der tilbydes ikke refundering af penge for dine køb via dit login kan du til enhver tid se dine køb  <br />

        </p>

        <h5>BETALING</h5>
        <p>
            På www.gadevangtennisklub.dk kan du betale med følgende betalingsmidler:  <br />
            <br />
            Dankort  <br />
            Visa/Dankort  <br />
            eDankort  <br />
            Betaling sker forud.  <br />
            <br />
            Vi bruger quickpay.dk som betalingsgateway til dankort læs mere på deres side om sikkerheden ved online betaling.  <br />
        </p>


        <h5>MEDLEMSKAB</h5>
        <p>
            Abonnemtsbetaling/Vilkår:  <br />
            Fremover vil klubben hvert år hæve det beløb, der svarer til den gældende kontingentsats på dit dankort, hver den 14.03.  <br />
            Dette er først gældende efter betalt medlemskab i 2011 og først fra 2012 og fremover  <br />
            <br />
            Du vil altid modtage en mail 7 dage før vi hæver beløbet på dit dankort.  <br />
            <br />
            Sletning/udmeldelse  <br />
            Hvis du ikke ønsker at være medlem af klubben, kan du til enhver tid henvende dig til klubben, og vi vil slette din næste kontingentbetaling.  <br />
            <br />
            FAMILIE MEDLEMSKAB  <br />
            Et familie medlemskab kan tegnes af en familie der bor på samme adresse.  <br />
            <br />
            FORTRYDELSESRET  <br />
            <br />
            Der er ikke fortrydelsesret. Og der refunderes ikke penge efter tilmelding til et hold eller venteliste.  <br />  <br />
        </p>


        <h5>PERSONOPLYSNINGER</h5>
        <p>
            <br />
            Når brugeren klikker rundt på hjemmesiden, indsamles statistiske data. Disse data er helt anonyme, hvilket betyder, at de ikke indeholder oplysninger, der kan identificere brugeren, selv om denne måtte være logget ind. Følsomme data, der sendes via nettet, er sikret ved brug af SSL kryptering ("Secure Socket Layer"). De servere, der opbevarer data om vores brugere, er placeret sikkert bag en firewall. Oplysninger opbevares ikke krypteret på serveren. De oplysninger, du giver, behandles i fuld fortrolighed og bliver udelukkende brugt i forbindelse med fakturering af indkøb hos GADEVANG TENNISKLUB samt udsendelse af nyhedsbreve, som brugeren har tilmeldt sig.  <br />
            <br />
            Som registreret bruger hos GADEVANG TENNISKLUB har du altid mulighed for indsigt, og du kan gøre indsigelse mod en registrering i henhold til reglerne i Persondataloven <br />
            <br />
            Personoplysningerne opbevares i 5 år efter sidste transaktion med kunden. Ingen registrerede personoplysninger videregives til tredjemand i nogen form på noget tidspunkt, medmindre det sker efter krav i lovgivning eller i øvrigt kræves af offentlige myndigheder. Brugernavn og adgangskode. <br />
            <br />
            Kunder, der ønsker at tilmelde sig hold hos GADEVANG TENNISKLUB, tildeles et brugernavn og en adgangskode. Det er kundens ansvar at opbevare disse informationer betryggende. <br />
            <br />
        </p>

        <h5>NYHEDSBREVE</h5>
        <p>
            Nyhedsbreve sendes enten via e-mail til den e-mailadresse, kunden har oplyst. Kunden kan til enhver tid framelde sig nyhedsbreve igen ved at slette sin profil.  <br />
            <br />
        </p>



        <h5>COOKIES</h5>
        <p>
            I forbindelse med login installeres en midlertidig cookie på den computer kunden benytter.  <br />
            <br />
            I Internet Explorer (version 5.x) kan pågældende cookies om ønsket slettes under menuen "Funktioner" - "Internetindstillinger" - "Slet cookies".  <br />
            <br />
            TEKNISKE KRAV TIL KUNDENS COMPUTERUDSTYR  <br />
            <br />
            Det forsøges at optimere teknikken på websitet, således at det fungerer i alle de mest udbredte browsere (Internet Explorer, Netscape, Mozilla, Opera, Chrome) og operativsystemer (Windows, Mac OS, Linux).  <br />
            <br />
        </p>



        <h5>PRISER</h5>
        <p>
            Alle priser er i danske kroner (DKK og de er ikke tillagt moms, da vi er en forening.  <br />
            <br />
            Vi modtager betaling fra følgende kort: Dankort, Visa/Dankort.  <br />
            <br />
            GADEVANG TENNISKLUB kan opkræve et gebyr på 1,45 kr. pr. transaktion + 0,10 % ved køb over 100.- og 0,70 kr. pr. transaktion for 50.- og under.  <br />
            <br />
            Kunden afholder selv eventuelle gebyrer m.v. til egen kortudsteder.  <br />
            <br />
        </p>



        <h5>ÆNDRING AF PRISER OG HANDELSBETINGELSER </h5>
        <p>
            De til enhver tid gældende priser og handelsbetingelser fremgår af hjemmesiden <br />
            <br />
        </p>



        <h5>FORBEHOLD</h5>
        <p>
            GADEVANG TENNISKLUB tager forbehold for tryk- og prisfejl.  <br />
            <br />
            GADEVANG TENNISKLUB er ikke ansvarlig for nedbrud af eller svigtende adgang til hjemmesiden, nedbrud i strømforsyning eller internetforbindelse, hærværk på systemet (både fysisk såvel som computervirus og hacking), misbrug af personoplysninger eller andre forhold og omstændigheder, som er uden for deres kontrol. <br />
            <br />

        </p>


        <h5>ANSVARSFRASKRIVELSE</h5>
        <p>
            GADEVANG TENNISKLUB og dets indholdsleverandører kan i intet tilfælde gøres erstatningsansvarlig for anvendelsen af http://www.gadevangtennisklub.dk, herunder garanterer man ikke og indestår i intet tilfælde for,  <br />
            <br />
            - at et hold ikke opfylder brugerens forventninger og behov.  <br />
            <br />
            - at http://www.gadevangtennisklub.dk/ og de herpå tilgængeliggjorte annoncer af enhver art er fejlfrie, tilgængelige, rigtige, nøjagtige, pålidelige, opdaterede, sikre, leveres rettidigt eller kan anvendes til det angivne formål.  <br />
            <br />

            <br />
            GADEVANG TENNISKLUB og dets indholdsleverandører er således ikke erstatningsansvarlig for direkte tab, følgeskader, herunder driftstab, mistet avance og indirekte tab, som kunden, kundens aftagere/klienter/kunder eller tredjemand lider på grund af fejl ved en annoncetekst eller billede Brugere, som ikke kan acceptere det anførte, bedes ophøre med enhver anvendelse af GADEVANG TENNISKLUB ydelser samt forlade hjemmesiden. Ethvert link til tredjemands hjemmeside er uden ansvar for GADEVANG TENNISKLUB. GADEVANG TENNISKLUB påtager sig intet ansvar for eventuelle skader hos brugeren som følge af brug af GADEVANG TENNISKLUB ydelser på www.gadevangtennisklub.dk  <br />
            <br />
        </p>

        <h5>KLAGER OG REKLAMATIONER</h5>
        <p>
            Hvis du ønsker at reklamere, kan du henvende dig til:  <br />
            <br />
            GADEVANG TENNISKLUB  <br />
            <br />
            Gadevangsvej 145 B  <br />
            3400 Hillerød  <br />



            <br />
            <br />
            <br />


            Klik her for at se vores vedtægter  <br />

            <br />
            <br />

            Klik her for at referat fra senest generalforsamlingen  <br />
        </p>
    </div>

