@page
@model GadevangTennisklub2025.Pages.About.FindUsModel
@{
}
<style>
    .background-wrapper {
        background-image: url('/Images/Baggrund.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        min-height: 100vh;
        padding: 2rem;
    }

    .banner-img {
        width: 100%;
        height: auto;
        display: block;
        margin-bottom: 1rem;
    }

    .white-box {
        background-color: rgba(255, 255, 255, 0.95);
        padding: 2rem;
        border-radius: 12px;
        max-width: 900px;
        margin: 0 auto;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        text-align: center;
    }
</style>

<div class="background-wrapper">
    <img src="/Images/GadevangTennisBanner.png" class="banner-img" alt="Gadevang Tennis Banner" />

    <div class="white-box">

    <h5>Gadevang Tennisklub - Gadevangsvej 145B - 3400 Hillerød</h5>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1143.35212759291!2d12.277899046188155!3d55.96490031790124!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46523f9c3877ed1f%3A0xf22acb72080484da!2sGadevangsvej%20145B%2C%203400%20Hiller%C3%B8d!5e0!3m2!1sen!2sdk!4v1747384467646!5m2!1sen!2sdk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

</div>
