@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form method="post">
    <Input type="submit" value="LogOut" class="btn btn-primary" asp-page-handler="Mod" />
    <Input type="submit" value="LogOut" class="btn btn-primary" asp-page-handler="post" />
</form>
<p>@((int)new DateOnly(2024, 12, 2).DayOfWeek )</p>

